.chatBox{
    width: 50%;
    height: 80%;
    background-color: $light;
    .chatTop{
        width: 100%;
        height: 20%;
        background-color: $warning;
        color: #aaa;
    }

    .moveBox{
        button{
            border: 0 none;
            background-color: $dark;
        }
    }
}