.secondaryBg{
    background-color: $secondary;
    width: 100vw;
    height: 50vh;
    h1{
        font-size: $font-xl;
        font-weight: $font-bolder;
        text-align: center;
        color: $dark;
        padding-top: 48px;
    }
}

.loginBox{
    width: 50%;
    background-color: $primary;
    border-radius: 20px;
    margin-top: 3.375rem;
    text-align: center;
    padding: 2.25rem 0 ;
    h2{
        font-size: $font-lg;
        font-weight: $font-bold;
        color: $dark;
        margin-bottom: 24px;
    };
}

.loginForm{
    label i{
        font-size: 43px;
        padding-top: 5px;
    }
    input{
        width: 66%;
        height: 69px;
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 10px;
        margin-left: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: #928f8f;
    }
}

.loginBtn{
    height: 69px;
    width: 30%;
    border-radius: 35px;
    background-color: $dark;
    color:$light;
    cursor: pointer;
    border: 0 none;
    font-size: $font-m;
}

.loginImg{
    width: 38%;
    margin-left: 72px;
    margin-top: 3.375rem;
    h2{
        font-size: $font-m;
        color:$primary;
        margin-top: 3rem;
    }
    h3{
        font-size: $font-m;
        font-weight:$font-bold;
        margin-top: 1rem;
        margin-left: 6.5rem;
        a{
        color:$danger;
        }
    }
}