$primary:#9FBFCA;
$secondary:#E2C2C2;
$success:#CCD39C;
$light:#F6EFE2;
$dark: #535D71;
$danger:#EF8062;
$warning:#EDCD8D;
$info: #92BCB5;

$font-xs: 18px;
$font-sm: 20px;
$font-m: 24px;
$font-lg: 32px;
$font-xl: 48px;

$font-bold: 600;
$font-bolder: 700;


