.secondaryBg{
    background-color: $secondary;
    width: 100vw;
    height: 50vh;
    h1{
        font-size: $font-xl;
        text-align: center;
        color: $dark;
        padding-top: 48px;
    }
}

.loginBox{
    max-width: 50%;
    background-color: $primary;
    border-radius: 20px;
    margin-top: 54px;
    text-align: center;
    padding: 2.25rem 0 ;
    h2{
        font-size: $font-lg;
        color: $dark;
        margin-bottom: 24px;
    };
}

.loginForm{
    label i{
        font-size: 43px;
        padding-top: 5px;
    }
    input{
        width: 66%;
        height: 69px;
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 10px;
        margin-left: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: #928f8f;
    }
}

.loginBtn{
    height: 69px;
    width: 20%;
    border-radius: 35px;
    background-color: $dark;
    color:$light;
}